@import "custom";
@import "~bootstrap/scss/bootstrap";


.flex-card {
  display: flex;
  flex-direction: row; 
  align-items: center;  
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;

}

:root {
  --bs-body-bg: var(--bs-gray-100);
}
